// are really simple classes that only do one single simple thing, but exist for simplicity sake to speed up the design process.
.u-center-text { text-align: center;}

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }
